{% autoescape off %}
<div class="maincontent" style="background-color: #FFF; margin: auto; padding: 20px; width: 450px; border-top: 2px solid #27ae60;">
  <div class="text-center">
    <p>Hello {{ user.get_username }},</p>
    <p>You requested a password reset for {{ site_name }} with this email {{ email }}.</p>
    <p>initiate the password reset process for your account,</p>
    <strong>click the link below:</strong>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"style="display:inline-block; padding:10px 15px; background-color:#0d6efd; color:#fff; text-decoration:none; border-radius:5px;" class="btn btn-success btn-lg">Reset Password</a>
    </p>
    <p>if clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p>
    
    <p>If you didn't request this, just ignore this email.</p>
  </div>
</div>
<div class="mt-3">
  Sincerely,<br>
  The Developer
</div>,
                     

<p>Thanks,<br>{{ site_name }} Team</p>

{% endautoescape %}

